.navbar-set {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  color: rgba(255, 0, 0, 0.836);
  text-decoration: none;
  font-weight: 700;
}
.brand-name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
} 
