.user-png {
  width: 45px;
  height: 30px;
  border-radius: 50%;
}
.navbar-set {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  color: rgba(255, 0, 0, 0.836);
  text-decoration: none;
}
.brand-name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
.btn-nav {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: rgba(255, 0, 0, 0.836);
  color: white !important;
  border-radius: 5px;
  padding: 5px 10px;
}